[2017-04-19 12:59] gdetrez opened #6 "Rebuild the images"
`docker-compose` can't always detect that an image needs to be rebuilt and sometime the tests fails as you're testing an image built with old files.  My current workarround is to call `docker-compose -f tests/docker-compose.yml build` before running the tests.  A better solution could be to add the `--build` option to `docker-compose up` in the fixture.

[2017-04-19 19:44] AndreLouisCaron commented on #6
Hi Grégoire!

Thanks for reporting this!  Are there any other side-effects to adding this option?

André

[2017-04-20 20:03] gdetrez commented on #6
Hi André, thanks for a useful tool!
No other side effect that I know of.

[2017-04-21 15:15] #6 closed

[2017-04-21 15:18] AndreLouisCaron commented on #6
Just released version 0.3.0 on PyPI.  Let me know how it goes!

[2017-04-25 10:59] gdetrez commented on #6
Wow, that was fast! I upgraded our tests to the new version and they seem to be working well without the extra `docker-compose build` now. Thanks!

[2017-08-16 09:23] butla opened #12 "Give access to services' environment variables?"
I currently need to read the environment variables defined for my application in compose. Would be cool if there was a function for that in `Services`, don't you agree? I can write it.

Right now my implementation looks like this:
[code]

Oh, and thanks for the cool plugin :) Quite handy.

[2017-08-16 17:43] AndreLouisCaron commented on #12
Sure, that sounds like a useful enhancement!  Feel free to send in a pull request :-)

[2017-08-16 17:45] butla commented on #12
Ok, will do that when I have a moment :)

[2017-10-09 11:04] arnuschky opened #13 "Access/print services logs"
It would be really useful if we could access the logs of the services so that we can print those logs in case of a test failure. Without this, debugging is really hard.

Any idea how to implement this?

[2017-10-09 23:00] AndreLouisCaron commented on #13
I'd be glad to see such a feature in pytest-docker!

Assuming you are using the default log driver, getting the logs is rather easy, simply run "docker-compose logs xyz" and capture the output to get the logs.

The part I'm not sure about is hooking into the right place to dump the output.  There are several pytest logging plugins you might be able to draw inspiration from.

What flow do you have

[2017-10-10 00:51] arnuschky commented on #13
The linked PR simply dumps all the logs from all the registered services. Possible to be more sophisticated, but this serves my purpose for the moment. Logs are simply output to logging.debug, so users can simply filter logs using the normal Python logging package.

[2017-10-10 18:08] AndreLouisCaron commented on #13
Thanks for taking the time to send a PR :-)

This is a good first step, but I would be somewhat inconvenienced by the dumping of all my containers' logs at the end of the test suite.

I'd be willing to merge a contribution if it had a better Pytest integration.  At the moment, you can easily achieve the same result using your own fixture in `conf.py`.

Let me sit on this for a day or two so I can

[2017-10-10 19:06] arnuschky commented on #13
Sure. For me it suits me well as the logs are only dumped under the pytest-docker logger in debug level. Easy to shut up. Also, I always capture the logs, so I only get the logs displayed in case a test fails. But I understand that this isn't the default usage.

Somehow making this functionality smarter - ie dump logs only in case of test failure, or allow the user to specify/filter logs - would m

[2017-11-15 18:38] daenney opened #16 "Fallback still starts the container with compose?"
My impression from the wording around `docker_allow_fallback` would be that if it returns `True` it doesn't try to run anything with Compose at all and just returns `localhost:port`, where port comes from the port mapping in the `docker-compose.yaml` file for that service.

However, looking at https://github.com/AndreLouisCaron/pytest-docker/blob/master/src/pytest_docker/__init__.py#L169-L175 it s

[2017-11-16 00:27] AndreLouisCaron commented on #16
The intent here is that localhost is supported as a fallback mechanism.  It's not "disable Docker", it's "try Docker and resort to localhost when necessary".

I agree that the wording in the README does not accurately describe what this feature does.  I will try to updated it to better reflect how the feature works.

If the current behaviour is a problem for you, I'd consider a contribution that a

[2017-11-17 18:19] butla commented on #13
Giving my 2 cents here. I'm also having problems by not immediately seeing what went wrong in a container when a test fails.

I'd be OK with just dumping all the output produced by `docker-compose up` to console when pytest fails. This may be configurable... I'll try to prepare a competing PR :)

[2017-11-17 21:18] butla commented on #13
Ok, I've made something that works perfectly for me - https://github.com/butla/pytest-docker/commit/c37ac821360a135c0cc7502c308df1f9526d02ad
But the code is awful. I need to refactor. I'll try to get a PR together in the coming weeks.

@AndreLouisCaron Is it OK if a separate stuff out to multiple files? And maybe use a bit more closures instead of classes?

[2017-11-17 23:12] daenney commented on #16
Awesome, thanks for the clarification. I'll see if I can come up with a PR to make this configurable.

[2017-11-18 02:12] AndreLouisCaron commented on #13
@Hi butla!  I'm open to all kinds of contributions and I'm not really picky for coding styles.  However, I do want to make sure I understand what problems people are trying to solve before merging anything.

I looked at the code you referenced and I'm not sure how it's related to the issue reported here.  Would you mind explaining why you are polling on `docker-compose port` and how that is relate

[2017-11-19 07:25] arnuschky commented on #13
Rather than dumping the logs of all containers, I added the following method to `Services`:

[code]

That way I can selective print logs in my test fixture. For example, what I do is something along these lines:

[code]

Then I only see the relevant logs (eg, not the ones of the db and redis, but the ones of my own code). I can freely chose what to log and how to display it (logging, prints, etc)

[2017-11-19 07:32] arnuschky opened #17 "Unique container names are bad"
I know I can override container names, but I think the default implementation is bad.

Currently containers are named `"pytest{}".format(os.getpid())`. This leads to the following problems:

 - If test runs fail or are interrupted (ctrl-c), containers may stay around. Due to the unique names they start to accumulate. Same for images.
 - Docker-compose doesn't recognize that things belong to each o

[2017-11-19 15:23] AndreLouisCaron commented on #17
Thanks for reporting this and sorry it caused you some pain!

Since you have a workaround, I'd like to take the time to fully understand the issues you're facing so we can work out the right solution :-)

The rationale behind unique container names is that we needed to support parallel builds on the same machine.  I was under the impression that this was a safer default than having parallel builds

[2017-11-19 15:28] AndreLouisCaron commented on #13
@arnuschky That `get_logs()` method looks pretty useful and general enough to let people customize their log output.  If you can prepare a PR, I'd definitely merge that.

[2017-11-19 15:53] AndreLouisCaron commented on #13
Since capturing and showing logs in all tests (only to have them silenced by the logging module) could potentially have prohibitive overhead in some projects, I've been digging around to see if we can fetch the container logs only when tests fail.

There is a recipe in the pytest docs for checking if tests failed from within a fixture (see [making test result information available in fixtures](htt

[2017-11-19 15:54] AndreLouisCaron commented on #13
FYI, this StackOverflow answer also suggests an interesting trick: https://stackoverflow.com/a/43268134/313063.

[2017-11-19 16:02] butla commented on #13
@AndreLouisCaron my solution does exactly that. I'm starting "docker-compose up" without "-d" and I'm not waiting for the output. With that, the output streams from compose will be joined with the main process's output. So that pytest will simply show you the output on failing tests.

Because of the way I run compose up, we need to wait for a container to appear before getting its port. I chose ch

[2017-11-19 18:27] AndreLouisCaron commented on #13
@butla Ah OK, I understand now.  You're using `Popen` to run `docker-compose` in foreground mode and letting it write directly to standard output.  When doing this, you don't know when `docker run` has been invoked by `docker-compose` and poll until the container exists.  I totally missed this when I looked at your code the first time around.

I like the idea!

I'll make sure to try it out, but th

[2017-11-19 20:50] arnuschky commented on #13
Re 3.: Yes, I realized this after my first version that simply dumped everything. I have a setup with 7-8 containers, and only half of them are relevant for debugging. I wrote the second version because it allows users to chose a) where to log to and b) from which containers to log, and c) when to log, for example using that hook implementation @AndreLouisCaron linked after one determined the test

[2017-11-19 21:21] arnuschky commented on #17
Ah ok. Admittedly, I haven't tested parallel builds on my dev machine, even though I need that for our CI server.

I'll read up / test and get back to you. I am not sure what it does tbh.

True, but having unique names limits the problem to one set.

Sorry, this was unspecific. During getting started with docker and pytest, we had many tests failing during setup rather than test run. For example,

[2017-11-20 11:43] butla commented on #13
@AndreLouisCaron
1) Nope it was fine. Pytest would give the output from a container on failures in the proper "Output captured during tests" section.
2) I haven't.

I haven't thought about people that may need to check the output while running Docker Compose. And that's probably wrong. I'm using pytest-docker for testing web APIs, so that's a type of application that doesn't produce any meaningful

[2018-01-07 23:09] waynr opened #19 "import `docker-compose` and `docker-py` rather than fork subprocesses"
Hi, this plugin looks really cool! After briefly looking over the code and some of the issues on this project I thought I'd pop in and point out that many of the problems (not having access to service logs for example) would be simplified if it were possible to have direct access to the objects exposed in the `docker-compose` or `docker-py` library APIs. Specifically, you should be able to do almo

[2018-01-07 23:17] waynr opened #20 "implement pytest plugin support directly in docker-compose itself"
A thought that occurs to me is that it might be a good idea to add pytest features directly to docker-compose itself. Advantages, assuming docker-compose maintainers would allow it, include the following:

* Improve visibility of these fixtures in the python and docker-compose communities, thereby making it more likely to get new features and bug fix support.
* Make it possible through test covera

[2018-01-09 01:29] AndreLouisCaron commented on #19
Thanks for taking the time to write this up :-)

I have to admit that I'm a bit surprised by everybody's interest in this project.  I posted this here so I could save 20ish lines of code that I kept copy-pasting from one project to another.  It does what I need it to (spawn databases for quick integration tests) and some other obligations seriously limit the time I can put into maintenance for thi

[2018-01-09 01:32] AndreLouisCaron commented on #20
That sounds like a great idea, but, as I mentioned in #19, I'm not up to that task.  If you put any effort into making that happen, please let me know and I will retire this project.

[2018-01-09 01:32] #20 closed

[2018-02-02 16:05] danodonovan commented on #17
Just thinking out loud - would this be better handled by having unique tags and repeatable image names?

I don't believe `docker-compose` can tag the images it builds, but it would be possible with a separate call to docker

``` $ docker tag <image> <tag> ```

Of course this would require a new `DockerExecutor` like `DockerComposeExecutor` etc. If I can get it working I'll submit a PR for discussi

[2018-02-04 17:11] AndreLouisCaron commented on #17
@danodonovan I'm not sure I understand how your proposal works.  Can you tell me more?

[2018-02-06 18:01] butla commented on #16
@AndreLouisCaron What's the usecase for the fallback? I'm not getting why use pytest-docker if you don't have Docker.

[2018-02-07 00:15] AndreLouisCaron commented on #16
­@butla It was meant as a crutch while converting a bunch of projects from a prehistoric database installer setup to a Docker-based test runner.  We needed to support the same test suite with both Docker and non-Docker setups while we onboarded a bunch of people to the new Docker workflow.

I don't expect anyone to rely on this anymore, but I never saw removing this as time well spent either :-)

[2018-02-07 08:26] butla commented on #16
@AndreLouisCaron Ok, thanks for clarification :-)

[2018-02-19 15:37] nfk commented on #19
Hi everyone,

I have a similar docker fixture which is based on compose library and it returns a `compose.Project` object. I will submit a merge request in few days. My aim is to use pytest-docker instead of my customs fixtures. @AndreLouisCaron: You can assign this issue to me?

[2018-02-19 16:15] butla commented on #19
@nfk will it be easy to capture the output of Docker Compose with your change? I have this hacky fork (mentioned in #13) in which I made pytest-docker spill out the output from containers on test errors. But I'm working on refactoring the codebase so that changes like mine can be more elegant and better integrated. When my code is mature enough I'll be submitting pull requests, of course.

[2018-02-19 20:07] nfk commented on #19
@butla: In my side I have a dedicated fixture to run `docker-compose logs -f` because to run this command it is required to fork the process with Popen in background, this is similar of your hacky fork but you can use this fixture on demand without break the current **pytest-docker** behaviour for example.

You can also have a function fixture which use directly docker API library to get logs for

[2018-02-20 10:29] butla commented on #19
@nfk Being able to display the output of Compose as it's running is something that we'd really like (and is something that I have in my backlog). That's because Compose on our CI machine sometimes takes long, and it's really annoying to have to wait until the test finally times out to see what was wrong. Setting too short timeouts was also a problem.

I'll see what I can actually do in this regard

[2018-02-21 12:19] danodonovan commented on #17
Sorry for delay. The idea would be to have a static image name (ie the project name sans pid) and then have unique tags for different builds (to cover the support for parallel builds).

1. `docker-compose build` builds the docker image(s) with a static image name
1. `docker tag` tags the built image(s) with a unique id(s) (ie not `latest`)
1. `docker-compose up` runs the containers with these tags

[2018-02-26 23:52] nfk commented on #19
@butla and @AndreLouisCaron the first draft [here](https://github.com/nfk/pytest-docker/commit/efd7fdad9fff57f7e6181bb6b3b8ce623edd5ee9). It changes the tests behaviour and a little rework about the classes DockerComposeExecutor and Services should be done.

[2018-03-01 08:10] nfk commented on #19
@butla Thank for the review, I will rework a little thing before to submit the MR.

[2018-03-29 14:15] mikemol commented on #17
Wouldn't it make more sense to use labels to group containers, and have a garbage collection step identifying running containers associated with test runs where the test process has terminated?

[2018-08-21 17:00] butla commented on #19
You know what? I gave this some more thought, and I think `pytest-docker` should abstain from using Docker Compose as a Python API and keep treating it as a CLI that is launched with `subprocess`. I think this will be the clean solution in the long run, since the team supporting Docker Compose explicitly states that [they don't intend to maintain it as a stable Python library](https://github.com/d

[2018-08-21 17:05] AndreLouisCaron commented on #19
@butla Nice find, very interesting!

I have to admit I find the `docker` CLI tool a much better anchor than "compose as a library" or even the Docker Python client anyways as the CLI tool has such a widespread usage that it's much less likely to have API breaks.

Closing this now :-)

[2018-08-21 17:05] #19 closed

[2018-08-21 17:08] butla commented on #19
@AndreLouisCaron "We don't support any other API other than CLI" was the impression I got from a few of the maintainers' comments sprinkled around the repo, but it took me a while to find the specific one to post here. They have a shit-ton of issues, many with heated debates :)

[2018-08-30 17:01] vicyap opened #23 "add --remove-orphans to docker-compose command?"
I got the following error while using the plugin. Does it make sense to add --remove-orphans to the docker-compose command?
[code]

[2018-08-30 18:30] vicyap commented on #23
Hmm. I have seen this problem intermittently. We have a set of VMs connected to Jenkins which runs our CI.

My current theory is that a job was aborted and left containers running. Then when the job re-runs it produces this error.

I'll try to reproduce it.

[2018-08-30 18:38] butla commented on #23
Ok. I didn't use --remove-orphans before and I'm not sure how that affects other workflows with Compose. So I'd be cautious about adding that. But if we can change something in the code that would prevent the situation from occuring, i.e. killing the containers when the tests are killed, that would be safer, I guess. But I think there should be a reproducible flow before the code is changed.

[2018-08-31 15:00] vicyap commented on #23
I agree, I don't know the impact of just adding in `--remove-orphans`. I'm not that familiar with docker so I'll need to research how orphaned containers occur in the first place. I'll post back here once I have a reproducible flow for this error.

[2018-08-31 15:05] butla commented on #23
I'm guessing it's got something to do with changing the compose file while a previous instance is running

[2018-09-01 03:05] AndreLouisCaron commented on #23
Yes, this option is useful after removing services from a compose file.  Example:

[code]
Run `docker-compose up -d`.  Then, remove `b` and run  `docker-compose down -v` and you will get output like this:

[code]

I don't see how this could happen during normal operation.  You could probably trigger this on long builds by editing your `docker-compose.yml` file while the build is running, but since

[2018-10-18 19:24] butla opened #24 "Getting rid of tests that only test the implementation, and the path of future updates?"
Hey @AndreLouisCaron! I think I finally have the time to show this project some love.

While I have some ideas for updates (e.g. #13), first I'd like to plow through the tests for this plugin itself. I think that they are tied to the implementation too much in most places, which shows in the ubiquitous mocking of `subprocess.check_output`. Because of that, they will all probably break with any ser

[2018-10-19 14:49] AndreLouisCaron commented on #24
Hey @butla,

I'm not sure why I wrote the initial tests using a mock of `check_output()`.  It was probably a combination of build speed and ease of testing.  Given the relatively low activity on this project, I don't think that really makes sense anymore.

If you want to rewrite the tests without the mocks and actually invoke the `docker` executable, I'm OK with that :-)

[2018-10-20 02:53] AndreLouisCaron commented on #23
Since there is no response from @vicyap, I will close this issue.  Feel free to open a new issue if you run into this issue again.

[2018-10-20 02:53] #23 closed

[2018-10-25 20:04] butla commented on #24
I'll get rid of some of tests alongside refactors necessary to be able to show container output during failures. Which will be optional to not break anything for anybody, of course. I think this library can be taken to 1.0 after that :)

[2018-10-25 20:04] #24 closed

[2018-10-26 13:48] #16 closed

[2018-10-30 15:28] AndreLouisCaron commented on #24
Hey there :-)

Thanks for all your recent contributions.  Are you expecting to send in more changes or should I release the current `master` to PyPI?

[2018-10-30 15:36] butla commented on #24
I had plans to finally introduce the features I wanted and refactoring the core a bit, but I just got a new job and need to handle relocation :) Maybe I'll have something in a week. As for releasing to PyPI - the only thing it'd do right now is getting rid of the fallback, but actually that might be bad. It'll leave time for people to submit a bug if they are still using it before I get to work on

[2018-10-30 15:37] butla commented on #24
I mean that realasing now would be NOT bad :)

[2018-10-30 16:56] AndreLouisCaron commented on #24
Yeah, I actually plan on trying this on ou build machines at work since that's the context for which this feature was originally written.  I'm quite busy ATM, but I'll get around to it soon and keep you posted!

Congrats on the new job and good luck with relocation :-)

[2018-11-09 13:09] petr-k opened #30 "Bring back the fallback when run without Docker"
Could you please bring back support for running without Docker & docker-compose removed in https://github.com/AndreLouisCaron/pytest-docker/commit/37901fba65759b1d4c7d78525b9590a6b96ce5a6? I was actually using that when running integration tests and it has significant value to me.

[2018-11-09 14:49] butla commented on #30
The new version doesn't seem to be released yet. I was the one who proposed to delete that to simplify the code (which I want to refactor and extend later), because me and @AndreLouisCaron didn't see the use for this anymore. Also, I've never used that and I couldn't even figure why would anyone want to use this project if they don't have Docker... So can you explain your usecase / process? If it'

[2018-11-09 15:12] petr-k commented on #30
Sure. I was using this feature when running tests (which involve running docker-compose using your plugin) on a CI server that doesn't have anything installed besides Docker toolchain. That said, my objective is to execute those tests themselves inside a Docker container.

Even though you can have a docker-in-docker setup, it is rather involved to do and complicated things enormously. What I am do

[2018-11-09 15:29] petr-k commented on #30
Sure, but the high-level scenario is pretty simple: to be able to use `pytest` calling `docker-compose`, while the tests itself need to run inside a container.

[2018-11-09 15:55] petr-k commented on #30
@butla I am curious as to what approach you'd take to achieve the above.

[2018-11-09 16:16] butla commented on #30
@petr-k I'm fiddling with a docker-in-docker approach with the `-v /var/run/docker.sock:/var/run/docker.sock` approach from [here](https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/) and a CI image extending the application's image. It's not working for me at the moment, but I'll report my findings. Afterwards we may argue about what's the more elegant approach :D

Because f

[2018-11-09 16:35] petr-k commented on #30
See https://github.com/petr-k/pytest-docker-compose-ci

Please note that there's no actual code being tested, just some example "tests" that call PostgreSQL.

[2018-11-09 19:54] butla commented on #30
OK, I see why the fallback is still valid. @AndreLouisCaron I think you should revert the commit in the end :) But it's good that we uncovered what is the exact usecase. I hope to document that better in the future and make the code more clear about this.

Still, having to run docker-compose yourself in addition to running pytest-docker seems clunky. For the environments that do support mounting `

[2018-11-09 20:57] petr-k commented on #30
Well, let's agree that clunkiness and t is in the eyes of the beholder ;) I like the elegance of leveraging `docker-compose`'s `--exit-code-from`.

I can only further clarify why I believe that approach is superior:
* It uses a single `Dockerfile` for both the app and its tests (albeit slightly adjusted to accommodate the testing scenario).
* Installing `docker` and `docker-compose` is not a matte

[2018-11-09 21:09] petr-k commented on #30
Let me say I'm very glad we've had this discussion, though! It's interesting to see how folks are tackling this (I'd say rather advanced) issue.

Btw, if you go the way you described in your example, won't you also have to handle the problem of determining the IP address where containers run as part of `docker-compose` are reachable? So I feel that you'd have to introduce some explicit support in

[2018-11-09 21:19] butla commented on #30
No, dude, what I said is that I see the validity of you're way, and I told the maintainer to revert my changes :) You made a good point and I want to leave the fallback in. I just want to make it more uderstandable in the code in the future AND leave another option for people who wanna go my way. But they are both valid and have their tradeoffs. I think it'll be good to list both of those options

[2018-11-19 19:26] vicyap opened #31 "`port_for` should allow proto=udp"
I think it would be useful if https://github.com/AndreLouisCaron/pytest-docker/blob/master/src/pytest_docker/__init__.py#L57 had a `proto='tcp'` kwarg which allows your to specify the protocol.

For example.
[code]

[2019-01-13 20:32] butla opened #35 "Tests broken because of calling fixture functions directly"
It was causing warnings for some time and it looks like the newer versions of pytest are changing these into errors.

[code]

I have a way of fixing that, but I'm unsure that I should actually fix the tests, or just replace them with ones that don't rely on mocking that heavily. Please check out this PR - #34

[2019-10-03 22:59] nknezek opened #39 "attr.ib() no longer accepts "convert" but "converter" instead"
As of python-attrs [v19.02](http://www.attrs.org/en/19.2.0/changelog.html) , "convert" is not a valid keyword parameter for `attr.ib()`. Instead, the keyword is now "converter".
It throws an error in this package:
`TypeError: attrib() got an unexpected keyword argument 'convert'`

https://github.com/AndreLouisCaron/pytest-docker/blob/7671c88473efc71632a5279266b2b946bd0d3612/src/pytest_docker/__ini

[2019-12-11 12:56] #35 closed

[2019-12-11 12:56] #39 closed

[2020-01-15 10:47] pcrespov opened #41 "TypeError: attrib() got an unexpected keyword argument 'convert'"
Since version 17.4 attrs [does not include convert as argument](https://www.attrs.org/en/stable/api.html#attr.ib) and your setup requirements does not add this constraint

How to reproduce
[code]

[2020-01-15 14:45] Luminaar commented on #41
Hello, this is a long standing problem and the reason I took over this project from previous maintainer. I'm in the process of releasing a new version of this package.

[2020-01-15 16:24] Luminaar commented on #41
A temporary workaround is to set `attrs` version to `<19` in your project.

[2020-01-15 18:09] pcrespov commented on #41
Thx. Yes, that is what I did :-)

[2020-01-17 19:49] #30 closed

[2020-01-22 08:54] #41 closed

[2020-03-10 17:14] gyermolenko commented on #13
Hi all. What is the preferred solution to see services logs atm?

[2020-03-10 17:23] butla commented on #13
I'm not using pytest-docker at the moment, so I'll stay out of the conversation.

[2020-03-23 10:12] soma-upday opened #43 "ModuleNotFoundError: No module named 'pkg_resources'"
I'm unable to launch pytest with pytest-docker plugin which throws the following error, **only major change I did was to reinstall the docker-compose** as it was hanging

[code]
The setuptools are installed and are latest and the pkg_resources is even available within the venv from where the tests are being launched

[code]

[2020-03-23 10:50] #43 closed

[2020-04-20 06:34] ghost opened #44 "Accessing services from within a container running on docker"
Hey guys,
I have a particular use case, i have my entire env running on docker and i would like to access the docker host from with the dev container to launch some services required for my tests.

I wonder if there is any way using **pytest-docker** or any good suggestions, if not i think that feature will be worth considerable.

[2020-06-04 07:11] bendog opened #45 "__init__() got an unexpected keyword argument 'tls'"
Just started getting the following exception when running on BitBucket pipelines.
This was working yesterday.

I'm going to investigate further, however i thought i'd put this here for anyone else who was hitting the same issue.

[code]

[2020-06-04 07:52] bendog commented on #45
https://github.com/docker/compose/issues/7505

[2020-06-04 13:58] languitar opened #46 "Option to keep containers running or use manually started ones"
I have a setup where spinning up the containers for tests is quite expensive. It would be nice if there was an option to either leave contains running after the first execution or to use a project started manually beforehand. That way, the expensive boot up of the containers can be avoided for subsequent tests.

[2020-06-09 07:44] troxil opened #47 "Docker host environment variable nested containers"
Hi Team,

Suppose I have a container called `pytest` which I mount the docker.sock in and let it create the containers defined by `docker-compose.yml`.

I've found that only `host.docker.internal` works, by ignoring `docker_ip` fixture.

Is there any other way around here? As this is suitable for docker->docker communication - but not without more redundant code to swap the hostname out can my IDE

[2020-06-09 19:40] Luminaar commented on #45
Hello,
Thank you for reporting this issue.

The workaround, for now, is to require `docker==4.2.1` explicitly in you environment. I will merge #48 once `docker-compose==1.26.1` (which includes specifies that requirement) is out.

[2020-06-09 19:47] Luminaar commented on #47
Hello,

I think this is something similar to what we are doing: our tests in CI/CD are executed within Docker containers, so when we want to run tests using `docker-compose` we mount a `docker.sock` into them:

[code]

To get a valid a docker IP with this setup we also set this env variable in the "outer" container:

[code]

The `docker_ip` fixture can read this variable and return the correct IP.

[2020-06-09 19:52] Luminaar commented on #46
Hello,

I've run into this issue in the past myself. I solved it by temporarily removing the `docker_services` fixture from my tests. But that is not an elegant solution.

Do you have an idea of how this option could be implemented? What comes to mind is either some kind of environment variable or maybe looking at the names of containers running on the system.

I would prefer the first option beca

[2020-06-09 19:55] languitar commented on #46
Pytest has command line options and this is what, for instance, pytest-kind uses for this purpose. I think the easiest thing would be to switch to a predictable project name and to provide a command line switch that disable the `docker-compose down` call.

https://codeberg.org/hjacobs/pytest-kind#user-content-pytest-options

[2020-06-25 11:13] FichteFoll commented on #47
[According to the source](https://github.com/avast/pytest-docker/blob/e07ef5319117fc358d28a2954d2893128345a343/src/pytest_docker/plugin.py#L35), the variable name should be `DOCKER_HOST`, which is also used by docker-compose, and should be of the format `tcp://{{ip}}:{{port}}`.

However …
- Setting
[code]
  made `docker-compose` unable to connect to the host, since it now tries to use that.

- `ho

[2020-07-08 21:04] philipphanemann opened #49 "different behaviour compared to local docker usage"
Hello,
I want to test a postgres database, which runs in a docker container. Unfortunately, it works with a local docker instance running but not when I use the plugins pytest-docker and pytest-docker-compose. To present a minimal example I have two files.

1. The `docker-compose.yml` file, which contains the following:

[code]

2. The necessary fixtures and the test are put in one file called `te

[2020-07-09 14:09] AndreLouisCaron commented on #49
This is likely caused by a timing issue: the Docker container is spawned before your `test_db()` function is invoked, but it has not (yet) finished initializing and the connection fails.  You don't encounter this with manual `docker compose up` because you do the steps more slowly than the automatic test suite.

The solution I use in my test suites that use `pytest-docker` is to have some kind of

[2020-07-09 14:11] AndreLouisCaron commented on #49
Note that the exact error you encounter depends on timing and the operating system.  A "connection refused" error is super common.

The "server closed the connection unexpectedly" is frequent when using Docker Desktop on Windows because it runs a TCP proxy to forward traffic to a port on the guest OS.  This proxy is usually "immediately" ready and accepts the connection, but finds the Docker conta

[2020-07-09 14:19] AndreLouisCaron commented on #47
I run into a similar issue when running GitLab-CI pipelines using "Docker in Docker (dind)" runners.  The issue is that `docker` executable is available and correctly configured, but the Docker IP is not `127.0.0.1`.

To work around this issue, I often use a custom `DOCKER_HOST_OVERRIDE` environment variable in my test fixtures, like so:
[code]

In my GitLab-CI job, I set `DOCKER_HOST_OVERRIDE` to

[2020-07-09 20:10] philipphanemann commented on #49
Thanks a lot for the comment. A simple sleep(1) helped to circumvent the problem. I'll try to find a more elegant way to tackle the "race condition".

[2020-07-09 20:10] #49 closed

[2020-07-17 15:56] tumbl3w33d commented on #13
I'm just doing my first steps with pytest(-docker) and this wish also came up in me quite early. My service didn't get ready at all and it took me a while to figure out why. I monkey-patched the plugin.py like this to get what I want and would like to see something comparable added to the lib:
[code]
allows me to do
[code]

[2020-08-19 18:06] akshayuppal3 opened #50 "getting connection timeout error"
I am using an HTTP service plugin to check minio service is up and running but I keep getting connection timeout error.

`@pytest.fixture(scope="session")
def minio_service(docker_ip, docker_services):
    """Ensure that Minio service is up and responsive. Return the endpoint"""

    # `port_for` takes a container port and returns the corresponding host port
    port = docker_services.port_for("mi

[2020-09-19 07:00] adityaguru149 opened #54 "limit services started by docker_services"
`docker_services` fixture starts all containers mentioned in the `docker-compose.yaml`.
Is there some way to limit the services to some services?  like `docker_services(excluding_services: List)`

When in a development setting, this would be useful as we normally want to test the service with [hot-reload](https://flask.palletsprojects.com/en/1.1.x/cli/?highlight=reloader#environments) functionalit

[2020-09-19 10:22] adityaguru149 commented on #54
I was reading the docs on fixtures and found that there is [a way](https://docs.pytest.org/en/stable/fixture.html#using-markers-to-pass-data-to-fixtures).
[code]
I can try to raise a PR for this.
@AndreLouisCaron @Luminaar Any guidance with this?
Thanks in Advance.

[2020-09-22 09:20] Luminaar commented on #54
Hello! Thanks for submitting the issue.
Could you please elaborate, what use-case do you have for this functionality? It's not completely clear to me.
My assumption is, that users need all services specified in `docker-compose.yml` for tests. If you need more than one combination of services, a workaround, for now, is having multiple `.yml` files and overriding the `docker_compose_file` fixture wi

[2020-09-22 12:24] adityaguru149 commented on #54
Hello @Luminaar

The idea that you are suggesting about keeping multiple docker-compose files would require me keep the files updated which I would like to avoid but presently I am doing that.

Let me try to explain the use-case again.
**Use Case:** I would like to start only some services/ or start all services except some while developing.
One of the most trivial forms of the use-case (that is e

[2020-09-22 15:43] Luminaar commented on #54
I think I understand. Would a new fixture that would allow specifying a custom `docker-compose up`  command help?

Right now, `docker-compose up --build -d` is run.

A new fixture (called `docker_setup`) would allow overriding that. Then you could specify which services are to be run in the command (as per the [SO question](https://stackoverflow.com/a/30234588))

[2020-09-23 01:25] adityaguru149 commented on #54
Do we require a new fixture?

Can we go with pytest markers?
AFAIK this would allow us to use the `docker_services` fixture and parameterize it using a pytest marker, so that any test case or module that requires to configure can specify in the marker.

[2020-09-27 18:20] awkspace commented on #13
+1 from me. If I can't see my application's logs, I can't see what's gone wrong, particularly in a CI job.

[2020-09-28 07:40] nejch opened #56 "Performance impact of pytest/subprocess on docker services?"
Hi all, just wanted to check if anyone else has seen any significant performance effects on container spin-up and runtime.

I recently switched from a plain shell script spinning up a container to docker-compose using `pytest-docker`. It's quite a heavy app (a GitLab CE container that does a full reconfigure on every startup), so it already took around 2 minutes to get up and running for tests bef

[2020-10-15 14:07] languitar commented on #46
https://github.com/lovelysystems/lovely-pytest-docker/blob/master/src/lovely/pytest/docker/compose.py#L219 implements this

[2020-11-24 15:58] danihodovic commented on #54
AFAIK this would allow us to use the docker_services fixture and parameterize it using a pytest marker, so that any test case or module that requires to configure can specify in the marker.

:+1: :+1: :+1:

[2021-06-07 09:26] matthijsroobeek opened #60 "`attrs < 21` requirement causes dependency issues"
The requirement of `attrs < 21` is causing dependency issues in my projects. Would it be possible to update?

[2021-06-07 10:24] n1ngu commented on #60
This is already a work in progress! #59

[2021-06-14 12:03] Luminaar commented on #60
Thank you for submitting the issue. It is resolved in the latest version (`0.10.2`)

[2021-06-14 12:03] #60 closed

[2021-07-27 10:45] otetard commented on #46
It’s quite easy to implement a “keep alive” mode by defining/overriding a few `pytest-docker` fixtures.

By adding the following code, you’ll be able to run `pytest` with a new `--keepalive` option that won’t stop Docker containers. In order to avoid recreating containers in the next `pytest` run, this requires to have a predictable name for Dockers, which was done by overriding the `docker_compos

[2021-09-10 08:13] kennysong opened #63 "Allow user to customize `docker-compose up` command line flags"
When pytest is run, it launches the Docker Compose services with `docker_compose.execute("up --build -d")`.

A problem with this is: for our application, we'd need to run `docker_compose.execute("build && docker-compose up -d")` to actually build it properly (because `docker-compose --build up` follows the `depends_on` order for the build, which doesn't work in our case).

I think adding a new fix

[2021-09-11 01:43] kennysong commented on #63
It's also useful for redirecting build logs that would otherwise be hidden: `docker_compose.execute("build > /tmp/build_logs.txt && docker-compose up -d")`

[2021-09-28 09:23] mapattacker opened #65 "Unable to run in CI pipeline"
Hi, I am wondering if anyone tried to use lib this in a CI/CD pipeline.

This is my gitlab-ci job

[code]

My test works in local environment, but in the CI job it seems like it can't detect docker. I even tried added in manual installation for docker & docker-compose but the result is still the same.

[code]

Thank you.

[2021-09-28 11:29] n1ngu commented on #65
AFAIU, you need to request the docker service https://docs.gitlab.com/ee/ci/services/#using-services-with-docker-run-docker-in-docker-side-by-side

Same goes for Btibucket Pipelines https://support.atlassian.com/bitbucket-cloud/docs/run-docker-commands-in-bitbucket-pipelines/

[2021-09-29 08:14] mapattacker commented on #65
thanks @n1ngu, forgot about the dind~

It took make several hours to get the pipeline to work. If anyone is interested:

[code]

[2021-09-29 08:14] #65 closed

[2021-10-03 11:44] mapattacker commented on #13
I highly concur with @awkspace, I spent 3 days trying to debug in my CI why the request keep timing-out~ In the end had to use normal docker-compose in the CI to debug the problem before resetting back to pytest-docker again.

[2021-10-15 10:00] ciaranevans opened #66 "`"docker-compose-v1": executable file not found in $PATH` when running from Makefile"
Hey folks,

I'm having a strange issue where I get:
[code]

If I run my `pytest` tests using `pytest-docker` from a Makefile target.

I'm using virtualenv for packages and I can run the tests fine like so:
[code]

But if I call my Makefile target which looks like:
[code]

[code]

Does anyone have any ideas as to why this might be breaking?

I notice that `which docker-compose` gives me different o

[2021-10-15 11:06] #66 closed

[2021-10-29 02:45] mapattacker opened #68 "How to add parametrize to our test case with pytest-docker?"
Hi, I am wondering if it is possible to use `@pytest.mark.parametrize` together?

In the given example, the http_service fixture is already used, so I'm not sure how to add the parametrize variables in, so that I can send multiple requests to the the dockerized API.

[code]

[2021-11-18 09:38] ignapas commented on #63
This would also allow the use of the ``--profiles`` flag and [feature](https://docs.docker.com/compose/profiles/) which we do in our project.

[2021-12-23 17:46] edinhodiluviano opened #69 "Docs for multiple docker-compose files"
pytest-docker already supports [shared compose files](https://docs.docker.com/compose/extends/).
However I couldn't find it in the docs.
Is it really missing? If so, can I send a PR to add something to the README?

[2022-01-18 07:54] PJ-Schulz opened #70 "Version Conflict with PyYAML 6.0"
Hello

I would like to use pytest-docker in my library. However, I also need PyYAML with version 6.0. poetry is used as package manager. When I now install pytest-docker and PyYAML, I get a poetry SolverProblemError:

[code]

Does anyone know how to use pytest-docker with PyYAML 6.0, or how to fix this bug?

[2022-01-18 19:45] Luminaar commented on #70
Hello, thank you for raising this issue. It seems that the fix is simple ― change the dependency in `pytest-docker` to allow `pyyaml>6.0`. I'll prepare a PR right away.

[2022-01-18 20:11] Luminaar commented on #70
Hello, thank you for raising the issue.

There seems to be no easy solution ― the problem is in a transitive dependency that we have no control over (we depend on `docker-compose` which depends on `pyyaml<6.0`). One possible solution would be to submit an issue or PR to the `docker-compose` repository, though there is a new version of `docker-compose` which is not written in Python and I don't kno

[2022-01-18 20:14] Luminaar commented on #69
Hello. `pytest-docker` currently uses `docker-compose v1`. The feature you linked is available in `docker-compose v2`. This new version is not written in Python and so it's not possible to install it together with this library.

Support for a `docker-compose v2` would require a major change to this library ― requiring users to provide their own installation of `docker-compose` or maybe allowing bo

[2022-01-18 20:20] Luminaar commented on #68
Hello, sorry it took me so long to respond.

In the unlikely case you are still looking for the solution and for posterity ― it is absolutely possible to use parametrization with the fixture. Here is the example from README with added parametrization:

[code]

[2022-01-19 01:25] edinhodiluviano commented on #69
Hum... I'm not sure how it works on the docker-compose side. But `pytest-docker` already supports multiple files. It is just not documented.
The bellow example would work only with `pytest-docker` installed:

[code]

[code]

[code]

Just run `pytest test.py` and for a while you will be able to see both containers running, started by `pytest-docker`.
I was using it in a bigger project with multiple

[2022-01-19 07:08] PJ-Schulz commented on #70
Thank for the detailed answer.
The easiest way is to use a version of `pyyaml<6.0` at the moment. But if there will be new features in `pyyaml` in the future, they cannot be used together with `pytest-docker`. So this is not the best solution.

Using a pre-installed docker-compose has the same dependency on `pyyaml<6.0`, unless someone uses their own version of docker-compose or a version >2.

I h

[2022-01-21 13:14] n1ngu opened #71 "Support for docker-compose V2"
I guess the maintainers are already aware of all the context but I'll try to summarize it and still not bore anyone.

docker-compose V2 has been rewritten not in Python language and isn't distributed anymore as a python package.

In the V1 deprecation notice there is a commitment to fix security issues but no bugs or new features will ever be released https://github.com/docker/compose/tree/master#

[2022-01-21 13:22] n1ngu commented on #71
For the installation process, an extra dependency could be contributed so that docker-compose V1 was optionally required. Only requiring
[code]
or whatnot would actually pull the python package for docker-compose.

Obviously this should along with some new documentation and a proper version bump.

[2022-01-21 13:29] n1ngu commented on #71
For the tox test matrix, I think it'd be as easy as something like
[code]
I think I am missing to pull the extra pytest-docker[tests] requirements somehow, but it should neither be hard to figure out.

[2022-01-29 21:54] otetard commented on #71
A first attempt to provide Docker Compose v2 support is provided in this PR: #72.

[2022-01-29 21:55] otetard commented on #70
An attempt to not strictly depend on Docker Compose (and not on PyYAML either) is provided in this PR: #72.

[2022-02-07 06:50] skshetry opened #73 "Support for pytest v7"
There is a constraint for pytest disallowing [v7](https://github.com/pytest-dev/pytest/releases/tag/7.0.0) which was released a few days back:
https://github.com/avast/pytest-docker/blob/f997f4eb9319496f612c360fb54f3f378a39cd54/setup.cfg#L36

This is preventing us from updating to the newest version. It looks like nothing should be affected for pytest-docker and can just be relaxed to `<8.0`.

[2022-02-07 23:22] edinhodiluviano commented on #69
I see no problem on the behavior of the library. The library already work as I need.
My only concern is the documentation.

[2022-02-16 15:09] didacrarbones opened #78 "Endpoint empty error"
On a windows system, the endpoint command returns a weird string:

`0.0.0.0:9997\r\n[0m`

That's why the `strip` [here](https://github.com/avast/pytest-docker/blob/master/src/pytest_docker/plugin.py#L79) does not change the string, and [this](https://github.com/avast/pytest-docker/blob/master/src/pytest_docker/plugin.py#L87) line takes the garbage part. I have solved it by using a regexp:

[code]

[2022-02-16 22:04] n1ngu commented on #78
Looks like probably an escape character followed by a "reset color" shell sequence.

AFAIU the underlying subprocess shouldn't be using any decorations you have in your shell. Does your docker setup have some kind of colored output plugin?

[2022-03-09 04:56] benridley opened #79 "Project maintenance and activity"
Hi,

Is this project still being actively developed or accepting PRs? It appears that there has been no merges for quite some time.

@Luminaar as the last active contributor, any chance you might be able to provide some guidance on this?

Cheers.

[2022-03-13 10:10] jorikseldeslachts opened #80 "Skipping the setup in Gitlab CI"
Can we skip this from running based on an env var?
I want to use this to run tests on my local machine but I want to skip the docker-compose part when the tests are running in Gitlab CI.

[2022-03-14 07:48] n1ngu commented on #80
I understand your test suite mixes unitary tests with docker tests? You can always simply mark them, e.g. at module level, and exclude that mark in the CI scripts.

https://docs.pytest.org/en/latest/how-to/mark.html

[2022-03-28 12:23] #73 closed

[2022-03-28 13:04] Luminaar commented on #80
Hello,
I have a similar use-case in one of my projects where I like to have the Docker containers running all the time and the tests only connect to them without doing the setup/cleanup.

My current hack is a custom `docker_service` fixture:
[code]

I think we will be able to make this much nicer after #67 is merged and we can easily provide custom Docker setup commands.

Something like this:
[cod

[2022-03-28 13:07] #68 closed

[2022-03-28 13:11] #47 closed

[2022-03-28 13:12] #12 closed

[2022-03-28 13:14] #17 closed

[2022-03-28 13:14] #31 closed

[2022-03-28 13:14] #44 closed

[2022-03-28 13:15] #56 closed

[2022-04-09 19:13] Luminaar commented on #63
Version [0.12.0](https://github.com/avast/pytest-docker/releases/tag/0.12.0) adds a way to customize docker-compose setup.

[2022-04-09 19:13] #63 closed

[2022-04-09 19:15] Luminaar commented on #54
Version [0.12.0](https://github.com/avast/pytest-docker/releases/tag/0.12.0) adds a way to customize docker-compose setup.

[2022-04-09 19:15] #54 closed

[2022-04-09 19:16] Luminaar commented on #80
Version [0.12.0](https://github.com/avast/pytest-docker/releases/tag/0.12.0) adds a way to customize docker-compose setup.

[2022-04-09 19:16] #80 closed

[2022-04-09 19:16] #79 closed

[2022-04-21 07:39] langustav commented on #78
I have run into the same issue. However, the problem is not with strip() but with following statement
https://github.com/avast/pytest-docker/blob/master/src/pytest_docker/plugin.py#L87
It can been due to Windows 11. However, it is still bug on pytest_docker (and it is mentioned in the code that line 87 should handle a messy output. But the messy output has changed :) )
I would suggest similar solu

[2022-04-21 08:15] langustav commented on #78
My proposal with proper exception handling would be something like this.
[code]

However, there could be a problem if this endpoint will be in format: `esfasf312sd:5664` (i.e., usage of hostname instead of IP). Also switching to IPv6 will be problematic with this approach.

[2022-05-02 09:50] gbroll commented on #78
I have the same problem on win10, getting some weird output on line 78 (b'\r\n\x1b[0m')
Running Docker Desktop 4.7.1 (77678) and docker-compose version 1.29.2, build 5becea4c

[2022-05-18 08:39] langustav commented on #78
I have created a pull request for this issue:
https://github.com/avast/pytest-docker/pull/81

[2022-07-12 09:22] mf01 opened #82 "Insufficient removal of control characters on windows with cmd.exe as shell"
Affected Line https://github.com/avast/pytest-docker/blob/567fa091a0d8ccf4ac2e8897c1ccecf08774125c/src/pytest_docker/plugin.py#L79
`endpoint = output.strip().decode("utf-8")`
Affected Version: at least since 0.10.3

I use PyCharm on Windows 10 to debug my pytest test cases. Starting the conatiners the above line is executed to to resolve a port for a service.

`output = self._docker_compose.execut

[2022-07-27 09:00] dimaqq opened #84 "How to wait for container to become healthy?"
Hi I'm trying to use this plugin with a `docker-compose.yml` file like this:

[code]

It seems to me that `docker_services` fixture becomes available when all the services specified in the `docker-compose.yml` have started.

However, if the `web` container is slow (needs to init the db, etc.), the web container is not actually ready to serve on the port and tests fail.

My current work-around is t

[2022-07-27 12:35] otetard commented on #84
Did you try to use `docker_services.wait_until_responsive()`?

README.md explains how to wait for a specific container to be ready (waits for an HTTP server to return a 200 status).

If you want to wait for PostgreSQL to be ready, you can make your test depend on the following fixture:

[code]

[2022-07-28 05:49] Luminaar commented on #84
For a web application, `wait_until_responsive` method is a good approach, because the check is a simple HTTP GET. For services like Postgres, we actually sometimes do what you do ― having a dummy container that waits for it:

[code]

[2022-07-28 19:15] n1ngu commented on #71
Fixed by #72 , thanks @otetard !

[2022-07-28 19:15] #71 closed

[2022-07-28 19:16] n1ngu commented on #70
Fixed by #72, would you please close the issue @PJ-Schulz ?

[2022-08-03 05:28] #70 closed

[2022-09-13 14:17] dimaqq commented on #84
I'm happy with `docker_services.wait_until_responsive`

[2022-09-13 14:17] #84 closed

[2022-09-17 19:46] wickywaka commented on #82
I can confirm this issue. I faced a similar problem in setting up and almost gave up on it. Any suggestions for a fix? I can do the grunt work to make the merge request.

[2022-09-17 19:55] wickywaka commented on #82
For those who come here to find a solution for this problem, here is a related merge request:
https://github.com/avast/pytest-docker/pull/81